<!DOCTYPE HTML>
<html>
	<meta>
		<meta name="viewport" content=""width=device-width, initial-scale="1.0">
		<link rel="stylesheet" href="search-style.css">
		<link rel="stylesheet" href="../static/css/navbar.css">

		<link rel="icon" href="test 3.png">
		<title>GetRecommendation</title>
		<script src="https://kit.fontawesome.com/e3f0543f14.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<header>
			<nav>
				<div class="navbar">
					<ul class="navitems">
						<li><a href="index.html"><img src="test 4.png" alt="CookSmart" id="logo"></a></li>
						<li class="navmenu">
							<a href="index.html" class="navmenu">Home</a>
							<a href="SearchRecipe.html" class="navmenu">Search Recipe</a>
							<a href="AboutUS.html" class="navmenu">About US</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
		<div class="search-box">
			<div class="row">
				<input type="text" id="input-box" placeholder= "Search Anything" autocomplete="off">
				<button><i class="fa-solid fa-magnifying-glass"></i></button>
			</div>
			<div class="result-box">
			
			</div>
		</div>
		<script src="autocomplete.js"></script>
	</main>

	</body>
</HTML>